################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TimeElapse/obj
/TimeElapse
/.vs/TimeElapse/v15/Server/sqlite3
/.vs/TimeElapse/v15/.suo
