################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TimeElapse/obj
/.vs/TimeElapse/v15/Server/sqlite3
/.vs/TimeElapse/v15/.suo
/TimeElapse/bin/Debug/netcoreapp2.2
/.vs
